<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.myan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAn">
        <activity android:name=".activities.AnimeSlideActivity"></activity>
        <activity android:name=".activities.VideoActivity" />
        <activity android:name=".controller.DetailsAnimeController" />
        <activity android:name=".controller.DetailsAnimeController" />
        <activity android:name=".layouts.BaseLayout" />
        <activity android:name=".layouts.BaseFragmentLayout" />
        <activity android:name=".controller.FormRegisterUser" />
        <activity android:name=".controller.FormLoginController" />
        <activity
            android:name=".activities.SlidesActivity"
            android:theme="@style/Theme.Intro" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>