<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.myan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAn">
        <activity android:name=".screens.ForgotPasswordActivity"></activity>
        <activity android:name=".screens.SearchActivity" />
        <activity android:name=".screens.HomeActivity" />
        <activity android:name=".screens.WithoutConnectionActivity" />
        <activity android:name=".screens.BaseLayout" />
        <activity android:name=".screens.FormRegisterUserActivity" />
        <activity android:name=".screens.FormLoginActivity" />
        <activity
            android:name=".screens.PresentationActivity"
            android:theme="@style/Theme.Intro" />
        <activity android:name=".screens.FirstScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>